@media (max-width: 1024px) and (max-height: 768px) and (orientation:landscape)
{

    body, html 
    {
        overflow-y: scroll;
        height: 110%;
        padding: 0;
        margin: 0;
    }
    #textContainer
    {
        top: 30vw;
        width: 30%;
    }

    #tsparticles
    {
        height: 45%;
        padding: 0;
        margin: 0;
    }
    .icon
    {
        position: relative;
        display: inline-block;
        width: 20vw;
        left: 5vw;
        height: auto;
    }

    .gradientBackground 
    {
        height: 100%;
        width: auto;
    }

    #ellipsesLogo
    {
        position: absolute;
        left: 90vw;
        top: 1vw;
        width: 8vw;
        height: auto;
        z-index: 5;
    }

    .launchButton
    {
        position: relative;
        width: 25vw;
        height: auto;
    }

    #smallBlock1
    {
        top: 1vw;
        left: 6vw;
    }

    #smallBlock2
    {
        top: 1vw;
        left: 25vw;
    }

    #smallBlock3
    {
        top: 1vw;
        left: 46vw;
    }

    #smallBlock4
    {
        top: 25vw;
        left: 6vw;
    }

    #smallBlock5
    {
        top: 25vw;
        left: 25vw;
    }

    #smallBlock6
    {
        top: 25vw;
        left: 46vw;
    }

    #smallBlock7
    {
        top: 50vw;
        left: 6vw;
    }

    #smallBlock8
    {
        top: 50vw;
        left: 25vw;
    }
    .accordion
    {
        display: none;
    }

    .panel 
    {
        display: none;
    }
}

@media (min-width: 768px) and (max-height: 1024px) and (orientation: portrait)
{

    body, html 
    {
        overflow-y: scroll;
        height: 110%;
        padding: 0;
        margin: 0;
    }
    #textContainer
    {
        top: 40vw;
        width: 30%;
    }

    #tsparticles
    {
        height: 100%;
        width: 200%;
        padding: 0;
        margin: 0;
    }
    .icon
    {
        position: relative;
        display: inline-block;
        width: 30vw;
        left: 5vw;
        height: auto;
    }

    .gradientBackground 
    {
        height: 100%;
        width: auto;
    }

    #ellipsesLogo
    {
        position: absolute;
        left: 90vw;
        top: 1vw;
        width: 8vw;
        height: auto;
        z-index: 5;
    }

    .launchButton
    {
        position: relative;
        width: 25vw;
        height: auto;
    }

    #smallBlock1
    {
        top: 1vw;
        left: 6vw;
    }

    #smallBlock2
    {
        top: 1vw;
        left: 36vw;
    }

    #smallBlock3
    {
        top: 38vw;
        left: 6vw;
    }

    #smallBlock4
    {
        top: 38vw;
        left: 36vw;
    }

    #smallBlock5
    {
        top: 76vw;
        left: 6vw;
    }

    #smallBlock6
    {
        top: 76vw;
        left: 36vw;
    }

    #smallBlock7
    {
        top: 115vw;
        left: 6vw;
    }

    #smallBlock8
    {
        top: 115vw;
        left: 36vw;
    }
    .accordion
    {
        display: none;
    }

    .panel 
    {
        display: none;
    }
}

@media (min-width: 1024px) and (min-height: 1366px) and (orientation:portrait)
{

    body, html 
    {
        overflow-y: scroll;
        height: 110%;
        padding: 0;
        margin: 0;
    }
    #textContainer
    {
        top: 30vw;
        width: 32%;
    }

    #tsparticles
    {
        height: 45%;
        padding: 0;
        margin: 0;
    }
    .icon
    {
        position: relative;
        display: inline-block;
        width: 30vw;
        left: 5vw;
        height: auto;
    }

    .gradientBackground 
    {
        height: 100%;
        width: auto;
    }

    #ellipsesLogo
    {
        position: absolute;
        left: 90vw;
        top: 1vw;
        width: 8vw;
        height: auto;
        z-index: 5;
    }

    .launchButton
    {
        position: relative;
        width: 25vw;
        height: auto;
    }

    #smallBlock1
    {
        top: 1vw;
        left: 7vw;
    }

    #smallBlock2
    {
        top: 1vw;
        left: 37vw;
    }

    #smallBlock3
    {
        top: 40vw;
        left: 7vw;
    }

    #smallBlock4
    {
        top: 40vw;
        left: 37vw;
    }

    #smallBlock5
    {
        top: 78vw;
        left: 7vw;
    }

    #smallBlock6
    {
        top: 78vw;
        left: 37vw;
    }

    #smallBlock7
    {
        top: 117vw;
        left: 7vw;
    }

    #smallBlock8
    {
        top: 117vw;
        left: 37vw;
    }

    .accordion
    {
        display: none;
    }

    .panel 
    {
        display: none;
    }
}